.itemContainer {
  width: 90%;
  margin: 4px auto;
  height: 40px;
  align-items: center;
  box-shadow: 0 0 1px #888888;
  padding: 5px 5px 5px 10px;
  display: flex;
}

.itemText {
  margin-left: -15px;
  flex-grow: 2;
}
.itemButton {
  margin-left: 5px;
  justify-self: end;
}
